# Variadic Function

In [1]:
from warnings import  filterwarnings
filterwarnings("ignore")

In [2]:
def multiply(a: int | float, b: int | float) -> int | float:
    """
    Input : This function takes two numbers as input
    Output: Multiplication of two numbers
    """
    c = a * b
    return c

In [3]:
multiply(12, 14)

168

In [4]:
# Args in function
m1 = multiply(3,4)

In [5]:
m1

12

In [6]:
# Keyword Arguments
m2 = multiply(a=12.5, b=5.2)

In [7]:
m2

65.0

### Args in function
1. *args- will act like a tuple in function

In [3]:
def func1(*args):
    print(args)
    print(type(args))
    for i in args:
        print(i)

In [9]:
func1("Dikshita", True, 12.5, False)

('Dikshita', True, 12.5, False)
<class 'tuple'>
Dikshita
True
12.5
False

In [10]:
func1("Etlhive")

('Etlhive',)
<class 'tuple'>
Etlhive

### Pass List as an argument

In [1]:
a = [1,2,3,4,5,6,11,12,15,120,25]
type(a)

list

In [4]:
func1(*a)

(1, 2, 3, 4, 5, 6, 11, 12, 15, 120, 25)
<class 'tuple'>
1
2
3
4
5
6
11
12
15
120
25

### Write a Variatic function to apply multiplication om all args

In [5]:
def product(*args):
    # Intialize the product to 1
    p = 1

    # Apply for loop on args
    for i in args:
        p = p * i

    # Return the value of product
    return p

In [6]:
product(5,8)

40

In [7]:
product(4,5,6,7,8)

6720

In [8]:
b = [1, 2,3,11,14]
product(*b)

924

### Billing examole

In [9]:
c1 = [
    ("Mobile", 35000, 2),
    ("Screen  Gaurd", 1200, 4),
    ("Cover", 300, 4)
]

### For above cart value do the billing and add tax rate

In [13]:
def billing(tax_rate: int | float, *args):
    # Intitialize total before tax
    total_before_tax = 0
    # Apply for loop on args
    for name, price, qty in args:
        item_total = price*qty
        total_before_tax = total_before_tax + item_total
        print(f"Product Name : {name}, Price : {price} INR, Quantity : {qty} Nos")
        print(f"Item Total : {item_total:.2f} INR")
        print("\n=====================================\n")
    
    # Apply tax on total before tax
    tax = (tax_rate / 100) * total_before_tax
    final_amount = total_before_tax + tax

    # Show the tax and final total
    print(f"Total before Tax : {total_before_tax:.2f} INR")
    print(f"Tax : {tax:.2f} INR")
    print(f"Final Total : {final_amount:.2f} INR ")

    # Return the value of final total
    return final_amount

In [11]:
c1

[('Mobile', 35000, 2), ('Screen  Gaurd', 1200, 4), ('Cover', 300, 4)]

In [14]:
a1 = billing(18, *c1)

Product Name : Mobile, Price : 35000 INR, Quantity : 2 Nos
Item Total : 70000.00 INR

=====================================

Product Name : Screen  Gaurd, Price : 1200 INR, Quantity : 4 Nos
Item Total : 4800.00 INR

=====================================

Product Name : Cover, Price : 300 INR, Quantity : 4 Nos
Item Total : 1200.00 INR

=====================================

Total before Tax : 76000.00 INR
Tax : 13680.00 INR
Final Total : 89680.00 INR

In [15]:
(18/100)*76000

13680.0

In [16]:
a2 = billing(
    18,
    ("Laptop", 70000, 1),
    ("Mouse", 800, 2),
    ("Keyboard", 1500, 1),
    ("Mouse pad", 300, 2),
    ("Keypad cover", 400, 1)
)

Product Name : Laptop, Price : 70000 INR, Quantity : 1 Nos
Item Total : 70000.00 INR

=====================================

Product Name : Mouse, Price : 800 INR, Quantity : 2 Nos
Item Total : 1600.00 INR

=====================================

Product Name : Keyboard, Price : 1500 INR, Quantity : 1 Nos
Item Total : 1500.00 INR

=====================================

Product Name : Mouse pad, Price : 300 INR, Quantity : 2 Nos
Item Total : 600.00 INR

=====================================

Product Name : Keypad cover, Price : 400 INR, Quantity : 1 Nos
Item Total : 400.00 INR

=====================================

Total before Tax : 74100.00 INR
Tax : 13338.00 INR
Final Total : 87438.00 INR

### Keyword arguments in python
1. **kwargs - IT acts like a dictionary in python

In [17]:
def func2(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key, value in kwargs.items():
        print(key, value)

In [18]:
func2(a=23, b=False, name="Raman", age=32)

{'a': 23, 'b': False, 'name': 'Raman', 'age': 32}
<class 'dict'>
a 23
b False
name Raman
age 32

In [19]:
func2(b=35.7, d=True)

{'b': 35.7, 'd': True}
<class 'dict'>
b 35.7
d True

In [20]:
d = {
    "name":"Aditi",
    "age": 28,
    "occupation": "HR"
}
type(d)

dict

In [21]:
func2(**d)

{'name': 'Aditi', 'age': 28, 'occupation': 'HR'}
<class 'dict'>
name Aditi
age 28
occupation HR

### Create a new user

In [22]:
def create_user(**kwargs):
    user = {
        "name": "NA",
        "age": "NA",
        "email": "NA"
    }
    user.update(kwargs)

    return user

In [23]:
u1 = create_user(name="Rahul", age=29)

In [24]:
u1

{'name': 'Rahul', 'age': 29, 'email': 'NA'}

In [25]:
u2 = create_user(name="Raman")

In [26]:
u2

{'name': 'Raman', 'age': 'NA', 'email': 'NA'}

In [27]:
u3 = create_user(
    name="Priya",
    age=35,
    email="priya@test.com"
)

In [28]:
u3

{'name': 'Priya', 'age': 35, 'email': 'priya@test.com'}

In [29]:
u4 = create_user(
    name= "John",
    email ="john@test.com",
    contact = 989999999
)

In [30]:
u4

{'name': 'John', 'age': 'NA', 'email': 'john@test.com', 'contact': 989999999}